.section {
    background-color: rgb(2, 110, 110);
}

/* 
.bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
} */


.second {
    position: relative;
    background-color: transparent;
    color: white;
    background-image: url(../img/B-ground.jpg);
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.404);
}

header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .nav a {
    text-decoration: none;
    color: white;
    flex-direction: row;
    display: flex;
    align-items: center;
    line-height: 1px;
    justify-content: space-between;
    width: 160px;
}

header i {
    font-size: 45px;
    color: rgb(11, 198, 254);
}

.logo h1 {
    font-size: 20px;
}

.logo p {
    font-size: 12px;
}

.nav span {
    margin-bottom: 6px;
}

.navbar {
    list-style: none;
}

.navbar button {
    background-color: transparent;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar li {
    margin-right: 1.5rem;
}

.navbar button {
    padding: 3px 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 13px;
    cursor: pointer;
    color: #fff;
    border: 3px transparent solid;
    transition: border 0.5s ease;
}

.navbar button:hover {
    border: 3px rgb(56, 215, 255) solid;
    border-radius: 5px;
    padding: 3px 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 13px;
}

.navbar span button {
    padding: 3px 15px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 13px;
    border: 3px rgb(56, 215, 255) solid;


}

.search-input {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    justify-content: space-around;
    padding: 0;
}

.search-input .type {
    padding: 15px 100px 15px 20px;
    background: #000000;
    width: 100%;
    color: white;
    border-radius: 30px;
    border: none;
    color: white;
}

.search-input .type:focus {
    border: none;
    outline: none;
}

.find {
    width: 10%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(11, 198, 254);
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border: none;
}

.date-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date-after {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date-next h3 {
    font-size: 18px;

}

.date-after h3 {
    font-size: 18px;

}

.date-day h3 {
    font-size: 18px;

}

.degree {
    font-size: 6rem;

}

.degree sub {
    margin-left: 7rem;
}

.degree p {
    margin-left: 1rem;
}

.tempo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tempo img {
    margin-top: 25px;
}

.site-footer .subscribe-form input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border: none;
    background-color: rgb(11, 198, 254);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}

.site-footer {
    background-color: rgb(0, 151, 151);
    padding: 50px 0;
}

.site-footer .subscribe-form {
    position: relative;
    margin-bottom: 30px;
}

.site-footer .subscribe-form input[type="text"] {
    padding: 15px 100px 15px 20px;
    background: #000000;
    width: 100%;
    color: white;
    border-radius: 30px;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

.social-box {
    padding: 0;
}

.social-links {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    color: rgb(11, 198, 254);

}

.social-links i {
    color: rgb(0, 69, 90);
}